html
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width")
		title chat
		script(src="/socket.io/socket.io.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="/script.js")
		link(href="/style.css",rel="stylesheet")
	body
		form#a
			input(type="text",id="name",placeholder="名前")
			input(type="submit",value="join")
		form#b(style="display:none;")
			input(type="text",name="body",id="body",placeholder="内容")
			input(type="submit",value="send")
			input(type="button",id="taisitu",value="退出")
		div#timeline
		| ようこそ！
