html
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width")
		title chat
		script(src="/socket.io/socket.io.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="/script.js")
		link(href="/style.css",rel="stylesheet")
		link(href="/common.css",rel="stylesheet")
	body
		form#a
			input.col8(type="text",id="name",placeholder="名前")
			input.col2(type="submit",value="join")
		form#b(style="display:none;")
			input.col8(type="text",name="body",id="body",placeholder="内容")
			input.col1(type="submit",value="send")
			input.col1(type="button",id="taisitu",value="退出")
		div#timeline
			div
				strong ようこそ！
				br
				| デザインがおかしい人は
				a(href="/old") 旧バージョン
				| を使ってみてね
