* {
	padding :0;
	margin: 0;
	transition: all 1s ease 0s;
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	box-sizing: border-box;
}

html {
	background-color: rgb(119, 180, 167);
}

form#a, form#b {
	margin: 15px;
	display: flex;
}

.col8{
	flex-grow:8;
}
.col2{
	flex-grow:2;
}
.col1{
	flex-grow:1;
}

input[type="text"] {
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 6px;
	background-color: rgba(255,255,255,0.8);
	color:rgba(0,0,0,0.8);
	font-size: 14px;
}

input[type="submit"], input[type="button"] {
	border: 1px solid rgba(0, 0, 0, 0.25);
	color:rgba(0,0,0,0.6);
	border-radius: 6px;
	background-color: transparent;
}

input[type="text"]:focus {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

#timeline * {
	color: rgb(64, 125, 112);
}

#timeline div {
	background-color: rgba(255, 255, 255, 0.44);
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
}
