* {
	padding :0;
	margin: 0;
	transition: all 1s ease 0s;
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	box-sizing: border-box;
}

html {
	background-color: rgb(119, 180, 167);
}

#timeline div, form#a, form#b {
	margin: 10px;
}

form#a, form#b {
	display: flex;
}

.col8{
	flex-grow:8;
}
.col2{
	flex-grow:2;
}
.col1{
	flex-grow:1;
}

input[type="text"] {
	border: 2px solid rgba(255, 255, 255, 0.3);
	padding: 6px;
	background-color: transparent;
	color:rgba(255, 255, 255, 0.8);
	font-size: 14px;
	border-radius: 6px;
	::placeholder{
		color:rgba(255,255,255,0.6);
	}
}

input[type="text"]:focus {
	border: 2px solid rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus {
    border: 2px solid rgba(255, 255, 255, 0.5);
}

input[type="submit"], input[type="button"] {
	border: 2px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	background-color: transparent;
	margin-left: 10px;
}

#timeline * {
	color: rgb(64, 125, 112);
}

#timeline div {
	background-color: rgba(255, 255, 255, 0.44);
	padding: 10px;
	border-radius: 10px;
}
